.header {
    background-color: #005b59;
}

.pure-menu-list {
    margin-left: 2.5%;
}

.pure-menu-item {
    font-size: 24px;
    margin: 0.1em 1em 0.1em 0.1em;
}

.pure-menu-item a {
    color: #ffffff;
}

.pure-menu-heading {
    font-size: 48px;
    font-variant: small-caps;
    margin: 0.2em 0em 0.2em 2.5%;
    color: #ffffff
}

.content-wrapper {
    margin: 0% 2.5%;
}

.content-wrapper li {
    margin: 10px;
}

.details section {
    margin: 0.2em;
    background-color: #f5f5f5;
    padding: 0.5em
}

.details-entry .key {
}

.details-entry .value {
    white-space: nowrap;
}

.issues {
    display: inline-block;
    margin: 2em 2em 2em 0em;
}

.maintenance {
    display: inline-block;
    margin: 2em 2em 2em 0em;
}

.error {
    padding: 20px 20px;
    background-color: red;
}

#new-issue .description {
    max-width: 800px;
    width: 100%;
}

#new-issue .summary {
    max-width: 400px;
    width: 100%;
}

.issue-details .description {
    font-size: 18px;
}

.comment {
    background-color: #f5f5f5;
    margin: auto;
    margin: 2%;
    padding: 20px;
}

.new-comment {
    width: 100%;
    max-width: 500px;
    height: 4em;
    overflow: auto;
    resize: none;
    vertical-align: center;
    margin: 5px 10px 10px 0px;
}

.new-comment-form button {
    margin: 10px 10px 10px 0px;
}