@(content: Html)(implicit assets: Assets)
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="@assets.css("styles.css")">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="header">
            <div class="pure-menu pure-menu-horizontal">
                <a class="pure-menu-heading" href="/">Command Center</a>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="/machines">Maszyny</a></li>
                    <li class="pure-menu-item"><a href="/issues">Zgłoszenia</a></li>
                </ul>
            </div>
        </div>
        <div class="content-wrapper">
            @content
        </div>
    </body>
</html>